<section class="card">

  <img src="{{img}}" alt="{{name}}">
  <div class="card__info">
    <p class="card__name">{{name}}</p>
    <p class="card__type">{{type}}</p>
    <p class="card__description">{{description}}</p>
    <p class="card__author">Автор конфигурации: {{username}}</p>
    <div class="card__specifications">
      <ng-container *ngFor="let product of specifications">
        <p style="padding: 4px">{{product.value}}</p>
      </ng-container>
    </div>
  </div>
  <div class="card__buttons">
    <p-button (click)="navigate()" label="Подробнее"></p-button>
    <p-button (click)="like()" styleClass="p-button-outlined" icon="pi pi-heart"></p-button>
  </div>
</section>
