<section class="card">
  <img src="{{img}}" alt="{{name}}">
  <div class="card__info">
    <div class="card__header">
      <p class="card__name">{{name}}</p>
      <p class="card__type">{{type}}</p>
    </div>
    <p class="card__description">{{description}}</p>
    <p>Автор конфигурации: {{username}}</p>
  </div>
  <div class="card__specifications">
    <ng-container *ngFor="let product of specifications">
      <p>{{product.value}}</p>
    </ng-container>
  </div>
  <div class="button">
    <p-button  (click)="navigate()" label="Подробнее"></p-button>
    <p-button (click)="like()" styleClass="p-button-outlined" icon="pi pi-heart"></p-button>
  </div>
</section>


