<section class="container">
  <p class="header-text">Подбор компьютера</p>
  <p routerLink="/createbuild" class="hyperlink">Собрать конфигурацию самостоятельно</p>
  <ng-container>
<!--    <div class="checkboxes">-->
<!--      <div class="field-checkbox">-->
<!--        <p-checkbox name="group1" value="Игровой" id="val1" [(ngModel)]="gaming" ></p-checkbox>-->
<!--        <label for="val1">Игровой</label>-->
<!--      </div>-->
<!--      <div class="field-checkbox">-->
<!--        <p-checkbox name="group1" value="Для дома" id="val2" [(ngModel)]="home"></p-checkbox>-->
<!--        <label for="val2">Для дома</label>-->
<!--      </div>-->
<!--      <div class="field-checkbox">-->
<!--        <p-checkbox name="group1" value="Для офиса" id="val3" [(ngModel)]="office"></p-checkbox>-->
<!--        <label for="val3">Для офиса</label>-->
<!--      </div>-->
<!--      <div class="field-checkbox">-->
<!--        <p-checkbox name="group1" value="Для дизайна" id="val4" [(ngModel)]="design"></p-checkbox>-->
<!--        <label for="val4">Для дизайна</label>-->
<!--      </div>-->
<!--      <div class="field-checkbox">-->
<!--        <p-checkbox name="group1" value="Для дизайна" id="val5" [(ngModel)]="video"></p-checkbox>-->
<!--        <label for="val5">Для видеомонтажа</label>-->
<!--      </div>-->
<!--    </div>-->

    <p-tabView (onChange)="changeTab($event)">
      <p-tabPanel header="Все">
        <div class="cards">
          <div class="card-build">
            <ng-container *ngFor="let item of allBuild">
              <ng-container *ngIf="item">
                <app-build-card
                  [name]="item.name"
                  [type]="item.type"
                  [description]="item.description ? item.description : 'Нет описания'"
                  [image]="validImg(item.image)"
                  [username]="item.username"
                  [specifications]="item.specifications"
                  [link_name]="item.link_name"
                  (routing)="routingPass(item?.link_name)"
                  (liking)="like(item?.link_name)">
                </app-build-card>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Игровой">
        <div class="cards">
          <div class="card-build">
            <ng-container *ngFor="let item of selectBuild">
              <ng-container *ngIf="item">
                <app-build-card
                  [name]="item.name"
                  [type]="item.type"
                  [description]="item.description ? item.description : 'Нет описания'"
                  [image]="validImg(item.image)"
                  [username]="item.username"
                  [specifications]="item.specifications"
                  [link_name]="item.link_name"
                  (routing)="routingPass(item?.link_name)"
                  (liking)="like(item?.link_name)">
                </app-build-card>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Для дома">
        <div class="cards">
          <div class="card-build">
            <ng-container *ngFor="let item of selectBuild">
              <ng-container *ngIf="item">
                <app-build-card
                  [name]="item.name"
                  [type]="item.type"
                  [description]="item.description ? item.description : 'Нет описания'"
                  [image]="validImg(item.image)"
                  [username]="item.username"
                  [specifications]="item.specifications"
                  [link_name]="item.link_name"
                  (routing)="routingPass(item?.link_name)"
                  (liking)="like(item?.link_name)">
                </app-build-card>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Для офиса">
        <div class="cards">
          <div class="card-build">
            <ng-container *ngFor="let item of selectBuild">
              <ng-container *ngIf="item">
                <app-build-card
                  [name]="item.name"
                  [type]="item.type"
                  [description]="item.description ? item.description : 'Нет описания'"
                  [image]="validImg(item.image)"
                  [username]="item.username"
                  [specifications]="item.specifications"
                  [link_name]="item.link_name"
                  (routing)="routingPass(item?.link_name)"
                  (liking)="like(item?.link_name)">
                </app-build-card>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Для дизайна">
        <div class="cards">
          <div class="card-build">
            <ng-container *ngFor="let item of selectBuild">
              <ng-container *ngIf="item">
                <app-build-card
                  [name]="item.name"
                  [type]="item.type"
                  [description]="item.description ? item.description : 'Нет описания'"
                  [image]="validImg(item.image)"
                  [username]="item.username"
                  [specifications]="item.specifications"
                  [link_name]="item.link_name"
                  (routing)="routingPass(item?.link_name)"
                  (liking)="like(item?.link_name)">
                </app-build-card>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Для видеомонтажа">
        <div class="cards">
          <div class="card-build">
            <ng-container *ngFor="let item of selectBuild">
              <ng-container *ngIf="item">
                <app-build-card
                  [name]="item.name"
                  [type]="item.type"
                  [description]="item.description ? item.description : 'Нет описания'"
                  [image]="validImg(item.image)"
                  [username]="item.username"
                  [specifications]="item.specifications"
                  [link_name]="item.link_name"
                  (routing)="routingPass(item?.link_name)"
                  (liking)="like(item?.link_name)">
                </app-build-card>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>

  </ng-container>
  <p-paginator [first]="first" [rows]="12" [totalRecords]="countBuild"
               (onPageChange)="paginate($event)"></p-paginator>
</section>

<ng-template #notBuilds>
  Подходящих конфигураций нет
</ng-template>
<p-toast position="bottom-right"></p-toast>

