<section class="container">
  <p class="header-text">Подбор компьютера</p>
  <p routerLink="/createbuild" class="hyperlink">Собрать конфигурацию самостоятельно</p>
  <ng-container>
    <p class="body-text">Выберите параметры, по которым должна совпадать конфигурация:</p>
    <div class="checkboxes">
      <div class="field-checkbox">
        <p-checkbox name="group1" value="Игровой" id="val1" [(ngModel)]="gaming"></p-checkbox>
        <label for="val1">Игровой</label>
      </div>
      <div class="field-checkbox">
        <p-checkbox name="group1" value="Для дома" id="val2" [(ngModel)]="home"></p-checkbox>
        <label for="val2">Для дома</label>
      </div>
      <div class="field-checkbox">
        <p-checkbox name="group1" value="Для офиса" id="val3" [(ngModel)]="office"></p-checkbox>
        <label for="val3">Для офиса</label>
      </div>
      <div class="field-checkbox">
        <p-checkbox name="group1" value="Для дизайна" id="val4" [(ngModel)]="design"></p-checkbox>
        <label for="val4">Для дизайна</label>
      </div>
      <div class="field-checkbox">
        <p-checkbox name="group1" value="Для дизайна" id="val5" [(ngModel)]="video"></p-checkbox>
        <label for="val5">Для видеомонтажа</label>
      </div>
    </div>
    <ng-container *ngIf="this.auth.currentUser">
      <p class="body-text">Мои конфигурации:</p>
      <div class="cards">
        <div class="card-build">
          <ng-container *ngFor="let item of allBuild">
            <ng-container *ngIf="item | typeCheckbox: gaming : home : office : design : video: true">
              <app-build-card
                [name]="item.name"
                [type]="item.type"
                [description]="item.description ? item.description : 'Нет описания'"
                [image]="validImg(item.image)"
                [username]="item.username"
                [specifications]="item.specifications"
                [link_name]="item.link_name">
<!--                (click)="routingPass(item?.link_name)"-->

              </app-build-card>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <div>
      <p class="body-text">Подходящие конфигурации:</p>
      <div class="cards">
        <div class="card-build">
          <ng-container *ngFor="let item of allBuild">
            <ng-container *ngIf="item | typeCheckbox: gaming : home : office : design : video : false">
              <div class="">
                <app-build-card
                  [name]="item.name"
                  [type]="item.type"
                  [description]="item.description ? item.description : 'Нет описания'"
                  [image]="validImg(item.image)"
                  [username]="item.username"
                  [specifications]="item.specifications"
                  [link_name]="item.link_name">
                  (click)="routingPass(item?.link_name)">

                </app-build-card>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</section>
