.card{
  position: relative;
  height: auto;
  width: 350px;
  margin: auto;
  background-color: #cfe8f6;
  border-radius: 5px;
  border: 1px solid lightgray;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  cursor: pointer;

    img{
      width: 160px;
      height: fit-content;
      grid-row: 1/4;
      border-radius: 5px 0 0 5px;
    }

    .card-title{
      width: fit-content;
      height: fit-content;
      margin: 0;
      font-weight: bold;
      font-size: 20px;
      padding: 8px;
      grid-row: 1/2;
    }

    .card-body{
      width: fit-content;
      height: fit-content;
      margin: auto 0;
      font-weight: 500;
      font-size: 18px;
      color: black;
      opacity: .9;
      padding: 8px;
      grid-column: 2/4;
      grid-row: 2/4;
    }
}

.btn{
  border: none;
  padding: 0;
  border-radius: 5px 0 0 5px;
}
