.wrapper {
  background-color: black;
}

.header {
  min-height: 60px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.header-left-part {
  display: flex;
  gap: 32px;
  align-items: center;
}

.logo {
  width: 80px;
  height: 100%;
  cursor: pointer;

  svg {
    fill: white
  }

  &:hover {
    svg {
      fill: orange
    }
  }


}

.header__btn-wrap {
  overflow: hidden;

  &:hover {
    .header__btn {
      transform: translateY(-100%);
    }
  }
}

.header__btn {
  position: relative;
  background-color: transparent;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  transition: .3s;

  &::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
    color: #ffd74b;
  }
}


.header-right-part {
  display: flex;
  align-items: center;
  gap: 16px;
}

.svg-profile {
  height: 40px;
  width: 40px;
  fill: white;
  cursor: pointer;

  &:hover {
    fill: orange;
  }
}

.header__auth-wrapper {
  position: relative;
}

.header__auth {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  z-index: 99;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}
