<section class="wrapper">
  <div class="header">
      <div class="header-left-part">
        <p class="logo">AmongParts</p>
        <button><img class="svg-list" src="/assets/list.svg" alt="каталог товаров"><p>каталог товаров</p></button>
      </div>
      <div class="header-right-part">
        <form action="">
        <input type="text" placeholder="поиск">
        <button>найти</button>
        </form>
        <img class="svg-profile" src="/assets/profile.svg" alt="профиль">
      </div>
  </div>
</section>
