<section class="wrapper">
  <div class="header">
    <div class="header-left-part">
      <p class="logo">AmongParts</p>
      <button type="button">
        <img class="svg-list" src="/assets/list.svg" alt="каталог товаров">
        каталог товаров
      </button>
    </div>
    <div class="header-right-part">
      <form>
        <input type="text" placeholder="поиск">
        <button type="button">найти</button>
      </form>
      <img class="svg-profile" src="/assets/profile.svg" alt="профиль">
    </div>
  </div>
</section>

