<section class="wrapper">
  <div class="header">
    <div class="header-left-part">
      <img class="logo" src="assets/logo_amongparts.svg" routerLink="/" alt="Among Parts">
      <p-button styleClass="p-button-info p-button-m" label="каталог компонентов" icon="pi pi-bars"
                (onClick)="catalogLink()"></p-button>
    </div>
    <div class="header-right-part">
      <div class="header__search-wrapper">
        <p-autoComplete [(ngModel)]="text" [suggestions]="currentProducts" (completeMethod)="search($event)"
                        placeholder="поиск..." field="name" (onSelect)="redirect($event)">
          <ng-template let-item pTemplate="item">
            <div class="header__search">
              <img [src]="item.images" alt="item.name" style="width: 30px">
              <p class="suggestion__text">
                {{item.name.length > 35 ? item.name.slice(0, 35) + '...' : item.name}}
              </p>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>
      <div class="header__auth-wrapper">
        <button class="header__btn" type="button" (click)="toggleAuthModal();">
          <img class="svg-profile" src="/assets/profile.svg" alt="профиль">
        </button>
        <app-auth
          class="header__auth"
          [openAuth]="openAuth"
        ></app-auth>
      </div>
    </div>
  </div>
</section>
<ng-template #notFound>
  <p>Такого компонента нет в нашем каталоге.</p>
</ng-template>


