.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;

  .name-image {
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    margin: 0 15px 0 15px;
    text-align: center;

    p{
      margin-bottom: 10px;
    }

    .part-image {
      width: 150px;
      height: 150px;
    }
  }

  .description {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
}
