.cards {
  border-radius: 4px;
  display: grid;
  grid-template-rows: max-content  max-content  1fr max-content;
  height: 100%;
}

.cards__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}

.cards__body {
  display: grid;
  grid-template-rows: max-content max-content;
}

.cards__name {
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.cards__description {
  font-size: 14px;
  padding: 0;
  margin-bottom: 16px;
}


