<section class="compare p-3">
  <span class="p-fluid">
    <div class="search">
    <p-autoComplete
      (completeMethod)="filterParts($event)"
      (onSelect)="getPart($event)"
      (onUnselect)="unselected($event)"
      [(ngModel)]="selectedParts"
      [multiple]="true"
      [suggestions]="filteredParts"
      placeholder="поиск..."
      field="name">
      <ng-template let-item pTemplate="item">
            <div class="result__search">
              <img [src]="item.images" alt="item.name" style="width: 30px">
              <p class="suggestion__text">
                {{item.name.length > 35 ? item.name.slice(0, 35) + '...' : item.name}}
              </p>
            </div>
          </ng-template>
    </p-autoComplete>
    </div>
  </span>
  <div class="table">
    <ng-container *ngIf="selectedParts; else emptyParts">
      <p-table [value]="arr" responsiveLayout="scroll" styleClass="mt-5 p-datatable-striped p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th>Характеристики</th>
            <ng-container *ngFor="let product of paramsParts">
              <th style="text-align: center">{{product.name}}</th>
            </ng-container>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td style="width: 100px">{{item[0]}}</td>
            <ng-container *ngFor="let param of item[1]">
              <td style="text-align: center">{{param}}</td>
            </ng-container>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </div>
</section>

<ng-template #emptyParts>
  <p-card
    header="Список сравнения пуст."
    styleClass="mt-6">
    Выберите от 2х компонентов.
  </p-card>
</ng-template>

<p-toast position="bottom-right"></p-toast>
