<section class="compare p-3">
  <span class="p-fluid">
    <p-autoComplete
      (completeMethod)="filterParts($event)"
      (onSelect)="getPart($event)"
      (onUnselect)="unselected($event)"
      [(ngModel)]="selectedParts"
      [multiple]="true"
      [suggestions]="filteredParts"
      field="name">
    </p-autoComplete>
  </span>
  <ng-container *ngIf="selectedParts; else emptyParts">

    <p-table [value]="arr" responsiveLayout="scroll" styleClass="mt-5 p-datatable-striped p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th>Характеристики</th>
          <ng-container *ngFor="let product of paramsParts">
            <th style="text-align: center">{{product.name}}</th>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td style="width: 100px">{{item[0]}}</td>
          <ng-container *ngFor="let param of item[1]">
            <td style="text-align: center">{{param}}</td>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</section>

<ng-template #emptyParts>
  <p-card
    header="Список сравнения пуст."
    styleClass="mt-6">
    Выберите от 2х компонентов.
  </p-card>
</ng-template>
