<ng-container *ngIf="openAuth">
  <div class="form">
    <ng-container *ngIf="!currentUser; else showProfile">
      <form class="form__wrapper" [formGroup]="login" (ngSubmit)="onSubmitSignIn(login.value)">
      <span class="p-float-label">
        <input id="login-input" type="text" pInputText formControlName="username">
        <label for="login-input">Логин</label>
      </span>
        <span class="p-float-label">
        <input id="pass-input" type="text" pInputText formControlName="password">
        <label for="pass-input">Пароль</label>
      </span>
        <button pButton type="submit" label="Вход" [disabled]="!login.valid" [style]="{width: '100%'}"></button>
      </form>
      <p-button label="Регистрация" [style]="{width: '100%'}" (click)="regModal=true"></p-button>
      <p-button label="Забыли пароль?" styleClass="p-button-link" [style]="{width: '100%'}"></p-button>
    </ng-container>
  </div>
</ng-container>
<p-dialog header="Регистрация" [(visible)]="regModal" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
  <form [formGroup]="registration" (ngSubmit)="onSubmitRegister(registration.value)">
      <span class="p-float-label">
        <input id="reg-login" type="text" pInputText formControlName="email">
        <label for="reg-login">Почта</label>
      </span>
    <span class="p-float-label">
        <input id="reg-pass" type="text" pInputText formControlName="password">
        <label for="reg-pass">Пароль</label>
      </span>
    <button pButton type="submit" label="Зарегистрироваться" [disabled]="!registration.valid"></button>
  </form>
</p-dialog>

<p-dialog header="Сброс пароля" [(visible)]="resetModal" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
  <form [formGroup]="resetForm" (ngSubmit)="reset(resetForm.value)">
    <span class="p-float-label">
      <input id="pass-new" type="text" pInputText formControlName="password">
      <label for="pass-new">Введите новый пароль</label>
    </span>
    <button pButton type="submit" label="Сбросить" [disabled]="!resetForm.valid"></button>
  </form>
</p-dialog>

<ng-template #showProfile>
  Ку, {{currentUser.email}}
  <p-button label="Выход" [style]="{width: '100%'}" (click)="logOut()"></p-button>
  <p-button label="Сбросить пароль" [style]="{width: '100%'}" (click)="resetModal=true"></p-button>
</ng-template>
