.form {
  border: 1px solid #0D6EFD;
  border-radius: 4px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 100;
  min-width: 265px;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 100;
}
