<ng-container *ngIf="openAuth">
  <div class="form">
    <ng-container *ngIf="!currentUser; else showProfile">
      <form class="form__wrapper" [formGroup]="login" (ngSubmit)="onSubmitSignIn(login.value)">
      <span class="p-float-label">
        <input id="login-input" type="text" pInputText formControlName="username">
        <label for="login-input">E-mail</label>
      </span>
        <span class="p-float-label">
          <input type="password" pPassword id="pass-input" [feedback]="false" formControlName="password">
        <label for="pass-input">Пароль</label>
      </span>
        <button pButton type="submit" label="Вход" [disabled]="!login.valid" [style]="{width: '100%'}"></button>
      </form>
      <p-button label="Регистрация" [style]="{width: '100%'}" (click)="regModal=true"></p-button>
      <p-button label="Забыли пароль?" styleClass="p-button-link" [style]="{width: '100%'}"></p-button>
    </ng-container>
  </div>
</ng-container>
<p-dialog header="Регистрация" [(visible)]="regModal" [modal]="true" [style]="{width: '25vw', minWidth: '250px'}"
          [draggable]="false" [resizable]="false">
  <form  class="form__wrapper__reg"  [formGroup]="registration" (ngSubmit)="onSubmitRegister(registration.value)">
     <span class="p-float-label">
        <input id="reg-username" type="text" pInputText formControlName="username">
        <label for="reg-login">Имя пользователя</label>
      </span>
      <span class="p-float-label">
        <input id="reg-login" type="text" pInputText formControlName="email">
        <label for="reg-login">E-mail</label>
      </span>
    <span class="p-float-label">
       <input  pPassword type="password" id="reg-pass" formControlName="password">
        <label for="reg-pass">Пароль</label>
      </span>
    <button [style]="{minWidth: '140px'}" pButton type="submit" label="Зарегистрироваться" [disabled]="!registration.valid"></button>
  </form>
</p-dialog>

<!--<p-dialog header="Сброс пароля" [(visible)]="resetModal" [modal]="true" [style]="{width: '50vw'}"-->
<!--          [draggable]="false" [resizable]="false">-->
<!--  <form [formGroup]="resetForm" (ngSubmit)="reset(resetForm.value)">-->
<!--    <span class="p-float-label">-->
<!--      <input id="pass-new" type="text" pInputText formControlName="password">-->
<!--      <label for="pass-new">Введите новый пароль</label>-->
<!--    </span>-->
<!--    <button pButton type="submit" label="Сбросить" [disabled]="!resetForm.valid"></button>-->
<!--  </form>-->
<!--</p-dialog>-->

<ng-template #showProfile>
  Привет, {{currentUser.username}}!
  <p class="hyperlink" routerLink="/mybuilds">Мои конфигурации</p>
  <p class="hyperlink"  routerLink="/configurator"><i class="pi pi-plus"></i> Добавить конфигурацию</p>
  <p-button label="Выход" [style]="{width: '100%'}" (click)="logOut()"></p-button>
<!--  <p-button label="Сбросить пароль" [style]="{width: '100%'}" (click)="resetModal=true"></p-button>-->
</ng-template>
<p-toast position="bottom-right"></p-toast>
