<app-header></app-header>
<div class="container">
  <p>Используйте наши инструменты</p>
  <div class="card-row">
    <app-action-card title="Собрать компьютер" body="Соберите конфигурацию компьютера на свой вкус!" src="/assets/action1.png"></app-action-card>
    <app-action-card title="Подать заявку" body="Подайте заявку на сборку компьютера с выбранной конфигурацией!" src="/assets/action2.png"></app-action-card>
    <app-action-card title="Сравнить компоненты" body="Выберите компоненты одной категории и узнайте, какой из них лучше!" src="/assets/action3.png"></app-action-card>
  </div>
  <p>Важные компоненты для сборки компьютера</p>
  <div class="card-row">
    <app-home-part-card title="Материнские платы" body="Some quick example text to build on the card title and make up the bulk of the card's content." src="/assets/motherboard.png"></app-home-part-card>
    <app-home-part-card title="Центральные процессоры" body="Some quick example text to build on the card title and make up the bulk of the card's content." src="/assets/cpu.png"></app-home-part-card>
    <app-home-part-card title="Оперативная память" body="Some quick example text to build on the card title and make up the bulk of the card's content." src="/assets/memories.png"></app-home-part-card>
  </div>
  <p>Для чего нужна материнская плата и с чего начать сборку ПК</p>
  <app-article-card title="Гайд: Сборка компьютера - какие компоненты необходимы, с чего начать, лайфхаки" body="Данная статья разложит по полочкам ваши знания о компонентах и их подборе для компьютера мечты!"></app-article-card>
</div>



