.container {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
  justify-content: stretch;

  p {
    font-size: 30px;
    font-weight: 550;
    letter-spacing: 0.5px;
    margin: 30px 0 25px 0;
  }
}

.card-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1080px) {
  .card-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
