<section class="container">
<ng-container *ngIf="currentProduct">
  <div class="header-text">
  <p>{{currentProduct?.name}}</p></div>
  <div class="product__all">
      <div class="carousel">
        <p-carousel [value]="currentProduct?.images">
          <ng-template let-item pTemplate="item">
            <img [src]="item" alt="{{currentProduct?.name}}" width="350px">
          </ng-template>
        </p-carousel>
      </div>
    <p-accordion [multiple]="true">
      <p-accordionTab header="Описание" [selected]="true">
        <p class="product__desc">
          {{currentProduct?.description}}</p>
      </p-accordionTab>
      <p-accordionTab header="Характеристики">
        <ng-template pTemplate="content">
          <div class="table__wrapper">
            <p-table [value]="currentProduct?.specifications" [scrollable]="true" responsiveLayout="scroll" class="table">
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{product.key}}</td>
                  <td>{{product.value}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
    </div>
</ng-container>
</section>
