<section class="container">
  <p class="header-text">
    Подать заявку на сборку конфигурации
  </p>
  <p>Для подачи заявки необходимо заполнить следующую форму:</p>
  <div class="field">
  <p class="body-text">
    Ваше имя:
  </p>
  <input type="text" pInputText>
  </div>
  <div class="field">
  <p class="body-text">
    Ваш e-mail:
  </p>
  <input type="text" pInputText>
  </div>
  <div class="field">
    <p class="body-text">
      Ваш номер телефона:
    </p>
    <p-inputMask  mask="+7-999-999-99-99" [style]="{width: '25%'}"></p-inputMask>
  </div>
  <span class="p-float-label">
       <p class="body-text">Тип конфигурации:</p>
        <div class="drop">
        <p-dropdown [options]="types" placeholder="выбрать" optionLabel="name" [style]="{width: '200px'}" [showClear]="true"></p-dropdown></div>
      </span>
  <div class="field">
  <p class="body-text">
    Опишите пожелания по составу конфигурации и производительности:
  </p>
  <textarea pInputTextarea [style]="{minWidth: '18vw', minHeight:'5vh', maxWidth:'30vw', maxHeight: '20vh'}"></textarea>
  </div>
  <div class="field">
  <p class="body-text">
    Введите желаемую стоимость:
  </p>
  <input type="text" pInputText>
  </div>
  <p-button  label="Подать заявку" type="submit" (click)="submitRequest()"></p-button>
  <p></p>
</section>
<p-toast position="bottom-right"></p-toast>
