.container {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.header-text {
  font-size: 30px;
  font-weight: 550;
  letter-spacing: 0.5px;
  margin: 30px 0 25px 0;
  display: flex;
  width: 100%;
}

.description{
  font-size: 20px;
  margin: 0 0 16px 0;
}

.inside{
  font-size: 20px;
  margin-bottom: 16px;
}

.accordion{
  padding: 0;
}

.info{
  display: flex;
  gap: 32px;
}

.build__image{
  width: fit-content;
  img{
    width: 400px;
    box-shadow: 0 0 5px rgba(122, 122, 122, 0.5);
  }
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-text{
    justify-content: center;
  }

  .build__image{
    margin: 0 auto;
  }

  .info{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 424px) {
  .build__image{
    img{
      width: 100%;
    }
  }
}

