.catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.catalog__list {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  min-height: max-content;
  margin-bottom: 16px;
}

.catalog__card {
  width: 230px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(122,122,122,0.5);
}

.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr;
  gap: 1rem;
}

.modal__list {
  width: max-content;
  margin: 0;
  line-height: 32px;
}

.modal__desc {
  margin-bottom: 16px;
}

.table__row {
  border: 1px solid black;
}

.carousel{
  width: 600px;
  margin: 0 auto;
  grid-row: 1/-1;
}

.table__wrapper {
  position: relative;
  height: 400px;
  overflow: hidden;
  &:after {
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 79.69%);
    content: "";
    height: 75px;
    left: 0;
    pointer-events: none;
    position: absolute;
    bottom: -30px;
    width: 100%;
  }
}

.searchInput{
  width: 400px;
  margin: auto 0;
}

.catalog__top{
  display: flex;
  gap: 16px;
  justify-content: space-around;
  margin-bottom: 16px;
    .sort{
      display: flex;
      gap: 8px;
      p{
        margin: auto 0;
      }
    }
}


@media (max-width: 768px) {

  .sort{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
  }
  .catalog__top{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
}

@media (max-width: 1000px) {
  .catalog__top{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
