.catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.catalog__list {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal__list {
  width: max-content;
  margin: 0;
}
