<section class="catalog">
  <ng-container *ngIf="currentProducts; else notFound">
    <div class="catalog__list">
      <ng-container *ngFor="let item of currentProducts">
        <app-part-card
          [name]="item?.name"
          [images]="item?.images"
          [description]="item?.description"
          (ModalDialog)="openDialog($event)"
        ></app-part-card>
      </ng-container>
    </div>
    <p-paginator [first]="first" [rows]="1" [totalRecords]="100" (onPageChange)="paginate($event)"></p-paginator>
  </ng-container>
</section>

<ng-template #notFound>
  <p>Товара из выбранной категории нет.</p>
</ng-template>

<ng-container *ngIf="product">
  <p-dialog [header]="product[0].name" [(visible)]="displayModal" [modal]="true" [style]="{width: '80vw'}" >
    <div class="modal">
      <img [src]="product[0].images[0]" alt="Картника товара" width="100%">
      <ol class="modal__list">
        <ng-container *ngFor="let item of product[0].specifications">
          <li><b>{{item.key}}</b>: {{item.value}}</li>
        </ng-container>
      </ol>
    </div>
  </p-dialog>
</ng-container>

