@import "~primeicons/primeicons.css";

body {
  margin: 0 ;

}

* {
  font-family: 'HelveticaNeueCyr', Arial, sans-serif
}

button {
  cursor: pointer;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


