<section class="container">
  <nav class="categories">
    <p-listbox [options]="groupedCategories" [group]="true" (onClick)="linkProduct($event)"
               [listStyle]="{'max-height':'600px'}" [style]="{'width':'15rem'}">
      <ng-template let-group pTemplate="group">
        <div class="p-d-flex p-ai-center">
          <span>{{group.label}}</span>
        </div>
      </ng-template>
    </p-listbox>
  </nav>
  <div>
    <ng-container *ngIf="!warning; else tmplwarning">
      <router-outlet></router-outlet>
    </ng-container>
  </div>
</section>

<ng-template #tmplwarning>
  Выберите категорию
</ng-template>
